services:
  app:
    build:
      context: ..
      dockerfile: PerformDocker/AppDockerfile
    expose:
      - "3000"
    tty: true
    restart: always

  nginx:
    build: 
      context: ../nginx
      dockerfile: Dockerfile
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./certs/:/etc/nginx/certs
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - app
    restart: always
