services:
  app:
    build:
      context: ..
      dockerfile: PerformDocker/AppDockerfile
    expose:
      - "3000"
    tty: true
    restart: always

  nginx:
    build: 
      context: ../nginx
      dockerfile: Dockerfile
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - app
    restart: always
